/**TIPOGRAFIA**/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

/**NAVBAR**/

.navbar-propia {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
}

.logo img {
    width: 100px;
    border-radius: 25%;
}


/**HERO IMAGE**/

.hero-4 {
    background-image: url("../img/1.\ Portada.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.hero-4 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}

.hero-4 h4 {
    font-size: 24px;
    margin: 0px;
}

.hero-4 a {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
}

/* FOOTER */

footer {
    background-color: #fccbb6;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    margin-top: 2rem;
  }

/*PAGES LAYOUT CARDS*/

.card-welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    border-radius: 24px;
  }
  
.card-welcome h1 {    
    color: #333;
    margin-bottom: 10px;
    width: 40%;
  }
  
.card-welcome p {
    color: #444;
    line-height: 1.5;
    width: 60%;
  }
  
.card-welcome img {
    width: 30%;
    border-radius: 25%;
  }

.content-home {
    padding: 40px;
    max-width: 1200px;
    margin: 0px auto;
  }

.cta-card-home {
    display: flex;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: flex-start;
    padding: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    border-radius: 24px;
  }

.cta-card-home h2 {
    color: #333;
    margin-bottom: 10px;
    width: 40%;
  }

.cta-card-home p {
    color: #444;
    line-height: 1.5;
    width: 60%;
  }

  /*** DOWNLOAD PAGE ***/

.download-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.download-content p {
    color: #444;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 600px;
  }

.download-buttons {
  text-align: center;
  justify-content: space-between;
}

.download-section {
    text-align: center;
    margin-top: 8%;
}

.download-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/*** FEATURES PAGE ***/

.hero-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

.card-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
}

.features-intro {
    margin: 80px auto;
}

.single-card-feature {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
} 

/** CONTACT PAGE ***/

.form-content {
    align-items: flex-start;
}

.contact-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 18px;
    margin-bottom: 40px;
}

.form-contact {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    background-color: rgb(255, 178, 149);
    color: orangered;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin: 24px auto 0 auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#contact-page {
  display: flex;
  padding-bottom: 80px;
}

.img-form-content {
  width: 50%;
  margin-right: 100px;
} 

/** MEDIA QUERYS **/

@media (max-width: 768px) {
    
    .card-welcome {
        flex-direction: column;
        text-align: center;
    }

    .card-welcome h1, .card-welcome p {
        width: 100%;
    }

    .card-welcome img {
        width: 50%;
        margin-top: 20px;
    }

    .cta-card-home {
        flex-direction: column;
        text-align: center;
    }

    .cta-card-home h2, .cta-card-home p {
        width: 100%;
    }

    .hero-features {
        flex-direction: column;
        text-align: center;
    }

    #contact-page {
        flex-direction: column;
        align-items: center;
    }

    .img-form-content {
        width: 80%;
        margin-bottom: 50px;
    }
}