@use '../utilities/mixins';

.card-welcome {
    @include mixins.card-welcome;

    h1 {    
        color: #333;
        margin-bottom: 10px;
        width: 40%;
    }
    
    p {
        color: #444;
        line-height: 1.5;
        width: 60%;
    }

    img {
        width: 30%;
        border-radius: 25%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    

        h1, p {
        width: 100%;
        }

        img {
        width: 50%;
        margin-top: 20px;
        }
    }
}

.content-home {
    padding: 40px;
    max-width: 1200px;
    margin: 0px auto;
}

.cta-card-home {
    display: flex;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: flex-start;
    padding: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    border-radius: 24px;


    h2 {
        color: #333;
        margin-bottom: 10px;
        width: 40%;
    }

    p {
        color: #444;
        line-height: 1.5;
        width: 60%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;

        h2, p {
            width: 100%;
        }
    }
}