@use '../utilities/mixins';
@use '../utilities/_extend' as extend;
@use '../utilities/_variables' as var;

.card-welcome {
    @extend %card-extend;

    h1 {    
        color: var.$color-text-primary;
        margin-bottom: 10px;
        width: 40%;
    }
    
    p {
        color: var.$color-text-secondary;
        line-height: 1.5;
        width: 60%;
    }

    img {
        width: 30%;
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    

        h1, p {
        width: 100%;
        }

        img {
        width: 50%;
        margin-top: 20px;
        }
    }
}

.content-home {
    padding: 40px;
    max-width: 1200px;
    margin: 0px auto;
}

.cta-card-home {
    @extend %card-extend;
    background-color: var.$color-background;
    margin: 40px 0;



    h2 {
        color: var.$color-text-primary;
        margin-bottom: 10px;
        width: 40%;
    }

    p {
        color: var.$color-text-secondary;
        line-height: 1.5;
        width: 60%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;

        h2, p {
            width: 100%;
        }
    }
}