.form-content {
    width: 60%;
    align-items: flex-start;
}

.contact-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 18px;
    margin-bottom: 40px;
}

.form-contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-page {
    width: 90%;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.img-form-content img {
    width: 400px;
    margin-right: 100px;
} 

@media (max-width: 768px) {

    #contact-page {
        flex-direction: column;
        align-items: center;
    }

    .img-form-content {
        width: 80%;
        margin-bottom: 50px;
    }
}