@use '../utilities/_variables' as var;

.card-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
}

.features-intro {
    margin: 80px auto;
}

.single-card-feature {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: var.$border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
} 