@use '../utilities/_variables' as var;

.card-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.features-intro {
    margin: 80px auto;
}

.single-card-feature {
    background-color: var.$color-background;
    padding: 20px;
    border-radius: var.$border-radius;
    box-shadow: var.$box-shadow;
    text-align: center;
} 