@use '../utilities/_variables' as var;
@use '../utilities/mixins';

.hero-4 {
    @include mixins.flex(column, center, center);
    background-image: url("../img/1.\ Portada.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;

    .hero-4 .hero-content {
        text-align: center;
        padding-top: 100px;
    }

    .hero-4 h2 {
        font-size: 72px;
        margin-bottom: 36px;
    }

    .hero-4 a {
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        padding: 24px;
        margin-top: 36px;
        margin-right: 12px;
        margin-left: 12px;
    }
}


@media (max-width: 768px) {
    
    .hero-features {
        flex-direction: column;
        text-align: center;
    }
}