@use '../utilities/_variables' as var;

.navbar-propia {
    background: var.$color-background;
    position: sticky;
    top: 0px;

    .navbar-nav .nav-link {
        text-decoration: none;
        color: var.$color-text-primary;
        padding: 24px;
    }

    .logo img {
        width: 100px;
        border-radius: 25%;
    }
}