@use '../utilities/_variables' as var;

%card-extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var.$box-shadow;
    padding: 5%;
    border-radius: var.$border-radius;
}

%hero2-extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}